@import "bulma/sass/utilities/_all";

$black:	hsl(0, 0%, 4%);
$black-bis:	hsl(0, 0%, 7%);
$black-ter:	hsl(0, 0%, 14%);
$grey-darker:	hsl(0, 0%, 21%);
$grey-dark:	hsl(0, 0%, 29%);
$grey:	hsl(0, 0%, 48%);
$grey-light:	hsl(0, 0%, 71%);
$grey-lighter:	hsl(0, 0%, 86%);
$grey-lightest:	hsl(0, 0%, 93%);
$white-ter:	hsl(0, 0%, 96%);
$white-bis:	hsl(0, 0%, 98%);
$white:	hsl(0, 0%, 100%);
$orange:	hsl(14, 100%, 53%);
$yellow:	hsl(44, 100%, 77%);
$green:	hsl(153, 53%, 53%);
$turquoise:	hsl(171, 100%, 41%);
$cyan:	hsl(207, 61%, 53%);
$blue:	hsl(229, 53%, 53%);
$purple:	hsl(271, 100%, 71%);
$dark-purple:	#4F46E6;
$red:	hsl(348, 86%, 61%);
$family-sans-serif:	BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$family-monospace:	monospace;
$render-mode	:	optimizeLegibility;
$size-1:	3rem !default;
$size-2:	2.5rem !default;
$size-3:	2rem !default;
$size-4:	1.5rem !default;
$size-5:	1.25rem !default;
$size-6:	1rem !default;
$size-7:	0.75rem !default;
$weight-light:	300 !default;
$weight-normal:	400 !default;
$weight-medium:	500 !default;
$weight-semibold:	600 !default;
$weight-bold:	700 !default;
$block-spacing	:	1.5rem !default;
$gap	:	32px !default;
$tablet	:	769px !default;
$desktop	:	960px + (2 * $gap) !default;
$widescreen	:	1152px + (2 * $gap) !default;
$widescreen-enabled:	true !default;
$fullhd:	1344px + (2 * $gap) !default;
$fullhd-enabled:	true !default;
$breakpoints	:	("mobile": ("until": $tablet), "tablet": ("from": $tablet), "tablet-only": ("from": $tablet, "until": $desktop), "touch": ("from": $desktop), "desktop": ("from": $desktop), "desktop-only": ("from": $desktop, "until": $widescreen), "until-widescreen": ("until": $widescreen), "widescreen": ("from": $widescreen), "widescreen-only": ("from": $widescreen, "until": $fullhd), "until-fullhd": ("until": $fullhd), "fullhd": ("from": $fullhd));
$easing:	ease-out !default;
$radius-small: 2px !default;
$radius: 4px !default;
$radius-large: 6px !default;
$radius-rounded: 9999px !default;
$speed:	86ms !default;
$variable-columns:	true !default;
$rtt: false !default;

// Derived variables
$primary: $dark-purple;
$info: $cyan;
$success: $green;
$warning: $yellow;
$danger: $red;
$light: $white-ter;
$dark: $grey-darker;
$orange-invert: findColorInvert($orange);

$yellow-invert: findColorInvert($yellow);

$green-invert: findColorInvert($green);

$turquoise-invert: findColorInvert($turquoise);

$cyan-invert: findColorInvert($cyan);

$blue-invert: findColorInvert($blue);

$purple-invert: findColorInvert($purple);

$red-invert: findColorInvert($red);

$primary-invert: findColorInvert($primary);

$primary-light: findLightColor($primary);
$primary-dark: findDarkColor($primary);
$info-invert: findColorInvert($info);

$info-light: findLightColor($info);
$info-dark: findDarkColor($info);
$success-invert: findColorInvert($success);
$success-light: findLightColor($success);
$success-dark: findDarkColor($success);
$warning-invert: findColorInvert($warning);
$warning-light: findLightColor($warning);
$warning-dark: findDarkColor($warning);
$danger-invert: findColorInvert($danger);
$danger-light: findLightColor($danger);
$danger-dark: findDarkColor($danger);
$light-invert: findColorInvert($light);
$dark-invert: findColorInvert($dark);
$scheme-main: $white;
$scheme-main-bis: $white-bis;
$scheme-main-ter: $white-ter;
$scheme-invert: $black;
$scheme-invert-bis: $black-bis;
$scheme-invert-ter: $black-ter;
$background: $white-ter;
$border: $grey-lighter;
$border-hover: $grey-light;
$border-light: $grey-lightest;
$border-light-hover: $grey-light;
$text: $grey-dark;
$text-invert: findColorInvert($text);
$text-light: $grey;
$text-strong: $grey-darker;


$code: darken($red, 15%);
$code-background: $background;
$pre: $text;
$pre-background: $background;
$link: $blue;
$link-invert: findColorInvert($link);
$link-light: findLightColor($link);
$link-dark: findDarkColor($link);
$link-visited: $purple;
$link-hover: $grey-darker;
$link-hover-border: $grey-light;
$link-focus: $grey-darker;
$link-focus-border: $blue;
$link-active: $grey-darker;
$link-active-border: $grey-dark;
$family-primary: $family-sans-serif;
$family-secondary: $family-sans-serif;
$family-code: $family-monospace;
$size-small: $size-7;
$size-normal: $size-6;
$size-medium: $size-5;
$size-large: $size-4;
$shadow: 0 0.5em 1em -0.125em rgba($scheme-invert, 0.1), 0 0px 0 1px rgba($scheme-invert, 0.02);
$custom-colors: null;
$custom-shades: null;
$colors: mergeColorMaps(("white": ($white, $black), "black": ($black, $white), "light": ($light, $light-invert), "dark": ($dark, $dark-invert), "primary": ($primary, $primary-invert, $primary-light, $primary-dark), "link": ($link, $link-invert, $link-light, $link-dark), "info": ($info, $info-invert, $info-light, $info-dark), "success": ($success, $success-invert, $success-light, $success-dark), "warning": ($warning, $warning-invert, $warning-light, $warning-dark), "danger": ($danger, $danger-invert, $danger-light, $danger-dark)), $custom-colors);
$shades: mergeColorMaps(("black-bis": $black-bis, "black-ter": $black-ter, "grey-darker": $grey-darker, "grey-dark": $grey-dark, "grey": $grey, "grey-light": $grey-light, "grey-lighter": $grey-lighter, "white-ter": $white-ter, "white-bis": $white-bis), $custom-shades);
$sizes: $size-1 $size-2 $size-3 $size-4 $size-5 $size-6 $size-7;

$body-background-color: $white-bis;

$body-size: 16px;
$body-min-width: 300px;
$body-rendering: optimizeLegibility;
$body-family: $family-primary;
$body-overflow-x: hidden;
$body-overflow-y: hidden;
$body-color: $text;

$body-font-size: 1em;
$body-weight: $weight-normal;

$body-line-height: 1.5;
$code-family: $family-code;

$code-padding: 0.25em 0.5em 0.25em;
$code-weight: normal;
$code-size: 0.875em;
$small-font-size: 0.875em;
$hr-background-color: $background;

$hr-height: 2px;
$hr-margin: 1.5rem 0;
$strong-color: $text-strong;

$strong-weight: $weight-bold;
$pre-font-size: 0.875em;
$pre-padding: 1.25rem 1.5rem;
$pre-code-font-size: 1em;

// Set your colors
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);

// Lists and maps
$custom-colors: null !default;
$custom-shades: null !default;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: mergeColorMaps(
    (
        "white": (
            $white,
            $black,
        ),
        "black": (
            $black,
            $white,
        ),
        "light": (
            $light,
            $light-invert,
        ),
        "dark": (
            $dark,
            $dark-invert,
        ),
        "primary": (
            $primary,
            $primary-invert,
            $primary-light,
            $primary-dark,
        ),
        "link": (
            $link,
            $link-invert,
            $link-light,
            $link-dark,
        ),
        "info": (
            $info,
            $info-invert,
            $info-light,
            $info-dark,
        ),
        "success": (
            $success,
            $success-invert,
            $success-light,
            $success-dark,
        ),
        "warning": (
            $warning,
            $warning-invert,
            $warning-light,
            $warning-dark,
        ),
        "danger": (
            $danger,
            $danger-invert,
            $danger-light,
            $danger-dark,
        ),
    ),
    $custom-colors
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

$sidebar-width: 4rem;


$header-family: 'Montserrat', sans-serif;
$body-family: 'Montserrat', sans-serif;


// input
$input-background-color: $white;
$input-border-color: $border;

//variable overrides
$card-radius: 0.25rem;

$slideout-background-color: $white;
$slideout-padding: 1rem;


// table 
$table-font-size: 0.95rem;
$table-th-font-weight: $weight-semibold;
// $table-th-background-color: $scheme-main-ter;
$table-th-padding: 0.5rem 0.25rem;
$table-td-padding: 0.25rem;
$table-vertical-align: middle;

$table-color: $text-strong;
$table-background-color: $scheme-main;

$table-cell-border: 1px solid $border;
$table-cell-border-width: 0 0 1px;
$table-cell-padding: 0.5em 0.75em;
$table-cell-heading-color: $text-strong;
$table-cell-text-align: left;
$table-head-cell-border-width: 0 0 1px;
$table-head-cell-color: $text-strong;
$table-foot-cell-border-width: 2px 0 0;
$table-foot-cell-color: $text-strong;
$table-head-background-color:  $scheme-main-ter;
$table-body-background-color: transparent;
$table-foot-background-color: transparent;
$table-row-hover-background-color: $scheme-main-bis;
$table-row-active-background-color: $primary;
$table-row-active-color: $primary-invert;
$table-striped-row-even-background-color: $scheme-main-bis;
$table-striped-row-even-hover-background-color: $scheme-main-ter;
$table-colors: $colors;


// INPUT                                            |
// __________________________________________________
$input-color: $grey-darker;
$input-background-color: $white;
$input-border-color: $grey-lighter;
$input-shadow: inset 0 1px 2px rgba($black, 0.1);
$input-hover-color: $grey-darker;
$input-hover-border-color: $grey-light;
$input-focus-color: $grey-darker;
$input-focus-border-color: $link;
$input-focus-box-shadow-size: 0 0 0 0.125em;
$input-focus-box-shadow-color: rgba($link, 0.25);
$input-disabled-color: $text-light;
$input-disabled-background-color: $background;
$input-disabled-border-color: $background;
$input-arrow: $link;
$input-icon-color: $grey-lighter;
$input-icon-active-color: $grey;
$input-radius: $radius;