/* Error: Can't find stylesheet to import.
 *     ,
 * 263 | / @use 'bulma/sass' with (
 * 264 | |   $title-family: $header-family,
 * 265 | |   $family-primary: $family-sans-serif,
 * 266 | |   $black: $black,
 * 267 | |   $black-bis: $black-bis,
 * 268 | |   $black-ter: $black-ter,
 * 269 | | 
 * 270 | |   $grey-darker: $grey-darker,
 * 271 | |   $grey-dark: $grey-dark,
 * 272 | |   $grey: $grey,
 * 273 | |   $grey-light: $grey-light,
 * 274 | |   $grey-lighter: $grey-lighter,
 * 275 | |   $grey-lightest: $grey-lightest,
 * 276 | | 
 * 277 | |   $white-ter: $white-ter,
 * 278 | |   $white-bis: $white-bis,
 * 279 | |   $white: $white,
 * 280 | | 
 * 281 | |   $orange: $orange,
 * 282 | |   $yellow: $yellow,
 * 283 | |   $green: $green,
 * 284 | |   $turquoise: $turquoise,
 * 285 | |   $cyan: $cyan,
 * 286 | |   $blue: $blue,
 * 287 | |   $purple: $purple,
 * 288 | |   $red: $red,
 * 289 | | 
 * 290 | |   $primary: $primary,
 * 291 | | 
 * 292 | |   $info: $info,
 * 293 | |   $success: $success,
 * 294 | |   $warning: $warning,
 * 295 | |   $danger: $danger,
 * 296 | | 
 * 297 | |   $link: $link
 * 298 | | );
 *     | '-^
 *     '
 *   base.scss 263:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a     \2577 \a 263 \2502  \250c  @use 'bulma/sass' with (\a 264 \2502  \2502    $title-family: $header-family,\a 265 \2502  \2502    $family-primary: $family-sans-serif,\a 266 \2502  \2502    $black: $black,\a 267 \2502  \2502    $black-bis: $black-bis,\a 268 \2502  \2502    $black-ter: $black-ter,\a 269 \2502  \2502  \a 270 \2502  \2502    $grey-darker: $grey-darker,\a 271 \2502  \2502    $grey-dark: $grey-dark,\a 272 \2502  \2502    $grey: $grey,\a 273 \2502  \2502    $grey-light: $grey-light,\a 274 \2502  \2502    $grey-lighter: $grey-lighter,\a 275 \2502  \2502    $grey-lightest: $grey-lightest,\a 276 \2502  \2502  \a 277 \2502  \2502    $white-ter: $white-ter,\a 278 \2502  \2502    $white-bis: $white-bis,\a 279 \2502  \2502    $white: $white,\a 280 \2502  \2502  \a 281 \2502  \2502    $orange: $orange,\a 282 \2502  \2502    $yellow: $yellow,\a 283 \2502  \2502    $green: $green,\a 284 \2502  \2502    $turquoise: $turquoise,\a 285 \2502  \2502    $cyan: $cyan,\a 286 \2502  \2502    $blue: $blue,\a 287 \2502  \2502    $purple: $purple,\a 288 \2502  \2502    $red: $red,\a 289 \2502  \2502  \a 290 \2502  \2502    $primary: $primary,\a 291 \2502  \2502  \a 292 \2502  \2502    $info: $info,\a 293 \2502  \2502    $success: $success,\a 294 \2502  \2502    $warning: $warning,\a 295 \2502  \2502    $danger: $danger,\a 296 \2502  \2502  \a 297 \2502  \2502    $link: $link\a 298 \2502  \2502  );\a     \2502  \2514 \2500 ^\a     \2575 \a   base.scss 263:1  root stylesheet";
}
