package {{.TableName}}

import (
	"strings"
	"time"
	"context"
)

func (h *{{.TableNamePascal}}Helper) selectFrom() string {
	fields := make([]string, 0)
	for _, f := range h.fieldNames() {
		if strings.HasPrefix(f, "date_") {
			f = f + "::text"
		}
		fields = append(fields, f)
	}
	return `
	SELECT 
		` + strings.Join(fields, ", ") + `
	FROM 
		{{.TableName}}
	`
}

func (h *{{.TableNamePascal}}Helper) fieldNames() []string {
	return []string{ {{.ColumnsCommaSeperated}} }
}

func (h *{{.TableNamePascal}}Helper) orderBy() string {
	return {{if .HasSort}} "sort_position, date_created, date_modified"{{else}}"date_created, date_modified"{{end}}
}

func (h *{{.TableNamePascal}}Helper) beforeSave(record *{{.TableNamePascal}}) (err error) {
	if record.DateCreated == "" {
		record.DateCreated = time.Now().Format(time.RFC3339)
	}
	record.DateModified = time.Now().Format(time.RFC3339)

	validationErr := h.validate(record)
	if validationErr != nil {
		return validationErr
	}
	return err
}

func (h *{{.TableNamePascal}}Helper) Save(ctx context.Context, record *{{.TableNamePascal}}) error {
	return h.save(ctx, record)
}

func (h *{{.TableNamePascal}}Helper) SaveMany(ctx context.Context, records []*{{.TableNamePascal}}) error {
	for _, record := range records {
		err := h.save(ctx, record)
		if err != nil {
			return err
		}
	}
	return nil
}

func (h *{{.TableNamePascal}}Helper) afterSave(record *{{.TableNamePascal}}) (err error) {
	return err
}

func (h *{{.TableNamePascal}}Helper) validate(record *{{.TableNamePascal}}) (err error) {
	return nil
	// validationErrors := h.validator.Struct(record)
	//
	//	if validationErrors != nil {
	//		errMessage := ""
	//		for _, err := range err.(validator.ValidationErrors) {
	//			errMessage += err.Kind().String() + " validation Error on field "+err.Field()
	//		}
	//		if errMessage != "" {
	//			err = errors.New(errMessage)
	//		}
	//	}
	//
	// return err
}
